<div class="card-container">
    <mat-card >
        <mat-card-header>
          <mat-card-title>Iniciar Sesion</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding-top: 8px;">
            <form class="form-custom" [formGroup]="formLogin">
                <mat-form-field class="input-custom">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field class="input-custom">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <div class="flex">
                    <button mat-flat-button color="primary" (click)="IniciarSesion()">Iniciar Sesion</button>
                    <button mat-flat-button class="bg-success" (click)="Registrarse()" style="margin-left: 8px;">Registrarse</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
