<div class="container text-center">
    <div class="row">
        <div class="col-1" style="width: 30%;">
            <p class="fs-2 text-primary" style="text-align: left; padding: 30px;">Equipos e Instrumentos</p>
        </div>
        <div class="col-1" style="width: 70%;"></div>
    </div>
    <div class="row" style="padding-top: 5px;">
        <div class="col-1" style="width: 5%;">
        </div>

        <div class="col-10" style="width: 90%;">
            <div appearance="fill" class="full-width has-success" style="padding: 10px; align-content:start;" >
                <mat-label style="padding-right: 20px;" >Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search Columns" #input>
            </div>
    
            <div class="grid-container">
            
                <table mat-table [dataSource]="dataSource" matSort >

                    <ng-container matColumnDef="BULTO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">Fila</th>
                        <td class="grid-item-fila" mat-cell *matCellDef="let row"> {{row.BULTO}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="cat_disciplina">
                        <th mat-header-cell *matHeaderCellDef class="grid-item-h-fila">Discip</th>
                        <td class="grid-item-fila" mat-cell *matCellDef="let row"> {{row.CAT_DISCIPLINA}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="matl_type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">matl type</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row"> {{row.CAT_MATL_TYPE}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="tag_number">
                        <th class="grid-item-h-tag_number" mat-header-cell *matHeaderCellDef mat-sort-header >TAG_NUMBER</th>
                        <td class="grid-item-fila" mat-cell *matCellDef="let row"> {{row.CAT_TAG_NUMBER}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="cat_descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-descrip">CAT_DESCRIPCION</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.CAT_DESCRIPCION}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="cat_cwp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-it">CAT_CWP</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.CAT_CWP}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="cat_cwp_descripcion" >
                        <th mat-header-cell  *matHeaderCellDef mat-sort-header class="grid-item-h-descrip" >CAT_CWP_DESCRIPCION</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.CAT_CWP_DESCRIPCION}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="CAT_CONTRATO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-it">CAT_CONTRATO</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.CAT_CONTRATO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="CAT_DESTINO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-numero">CAT_DESTINO</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.CAT_DESTINO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="CAT_ESTADO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-descrip">CAT_ESTADO</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.CAT_ESTADO}}</td>
                    </ng-container>                   

                    <ng-container matColumnDef="REQ_LOG">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-reqnum">REQ_LOG</th>
                        <td mat-cell class="grid-item-req" *matCellDef="let row">{{row.REQ_LOG}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="REQ_REQ_NUMERO" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-reqnum">REQ_REQ_NUMERO</th>
                        <td mat-cell class="grid-item-req" *matCellDef="let row">{{row.REQ_REQ_NUMERO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="REQ_DESCRIPCION_SUPLEMENTO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-ct">REQ_DESCRIPCION_SUPLEMENTO</th>
                        <td mat-cell class="grid-item-req" *matCellDef="let row">{{row.REQ_DESCRIPCION_SUPLEMENTO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="REQ_NUMERO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">NUMERO</th>
                        <td mat-cell class="grid-item-req" *matCellDef="let row">{{row.REQ_NUMERO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="REQ_STATUS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">STATUS</th>
                        <td mat-cell class="grid-item-req" *matCellDef="let row">{{row.REQ_STATUS}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="REQ_CANTIDAD">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">CANTIDAD</th>
                        <td mat-cell class="grid-item-req" *matCellDef="let row">{{row.REQ_CANTIDAD}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="REQ_TOTAL">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">TOTAL</th>
                        <td mat-cell class="grid-item-req" *matCellDef="let row">{{row.REQ_TOTAL}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="SOL_RFQ_NUMERO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-rfq_numro">RFQ NUMERO</th>
                        <td mat-cell class="grid-item-sol" *matCellDef="let row">{{row.SOL_RFQ_NUMERO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="SOL_HITO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-hito">HITO</th>
                        <td mat-cell class="grid-item-sol" *matCellDef="let row">{{row.SOL_HITO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="SOL_ESTATUS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">ESTATUS</th>
                        <td mat-cell class="grid-item-sol" *matCellDef="let row">{{row.SOL_ESTATUS}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="SOL_FECHA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fecha">FECHA</th>
                        <td mat-cell class="grid-item-sol" *matCellDef="let row">{{row.SOL_FECHA}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="SOL_SIG_HITO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-hito">SIG HITO</th>
                        <td mat-cell class="grid-item-sol" *matCellDef="let row">{{row.SOL_SIG_HITO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="SOL_SIG_HITO_ESTATUS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">ESTATUS</th>
                        <td mat-cell class="grid-item-sol" *matCellDef="let row">{{row.SOL_SIG_HITO_ESTATUS}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="SOL_SIG_HITO_FECHA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fecha">FECHA</th>
                        <td mat-cell class="grid-item-sol" *matCellDef="let row">{{row.SOL_SIG_HITO_FECHA}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ORC_NUMERO_OC">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-ocompra">N° ORDEN COMPRA</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_NUMERO_OC}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ORC_LINEA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">LINEA</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_LINEA}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_SUB_LINEA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">SUB LINEA</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_SUB_LINEA}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_DESTINO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">DESTINO</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_DESTINO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_CANTIDAD">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">CANTIDAD</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_CANTIDAD}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_FECHA_RAS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fecha">ORC_FECHA_RAS</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_FECHA_RAS}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_FECHA_SOP">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fecha">ORC_FECHA_SOP</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_FECHA_SOP}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_GRUPO_DE_EMBARQUE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-gembarque">ORC_GRUPO_DE_EMBARQUE</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_GRUPO_DE_EMBARQUE}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_HITO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-hito">HITO</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_HITO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_ESTATUS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">ESTATUS</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_ESTATUS}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_FECHA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fecha">FECHA</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_FECHA}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_SIG_HITO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-hito">HITO</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_SIG_HITO}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_SIG_HITO_ESTATUS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fila">ESTATUS</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_SIG_HITO_ESTATUS}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="ORC_SIG_HITO_FECHA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-fecha">FECHA</th>
                        <td mat-cell class="grid-item-oc" *matCellDef="let row">{{row.ORC_SIG_HITO_FECHA}}</td>
                    </ng-container> 
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row 
                    (click)="myClic(row)"
                    *matRowDef="let row; columns: displayedColumns; " class="table-row">
                </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[20, 40]" showFirstLastButtons aria-label="Select page of materiales" ></mat-paginator>   
        </div>
        <div class="col-1" style="width: 5%;"></div>
    </div>
</div>
   




