<nav class="navbar navbar-expand-md bg-light" style="height: 30px; padding-top: 0px;  " >
  <div class="container-fluid" style="background-color: #008C45; height: 60px">
    <a class="navbar-brand" href="#" style="color: antiquewhite !important;  ">Bonatti</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav" >
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="#" style="color: antiquewhite !important;">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: antiquewhite !important;">
            Control Perneria
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/perneria" (click)="miClick(1)">Entregadas</a></li>
            <li><a class="dropdown-item" href="/perneria" (click)="miClick(2)">Pendientes</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Archivo excel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Update</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
