
<div class="signup-container" style="margin-top: 100px;">
    <h2>Registro de Usuario</h2>
    <form [formGroup]="signupForm" >
      
      <label for="username">Usuario</label>
      <input type="text" id="username" formControlName="username" required>
      <div *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched">
        <small>El usuario es obligatorio</small>
      </div>
  
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
        <small>La contraseña debe tener al menos 6 caracteres</small>
      </div>

      <label for="confirmPassword">Confirmar Contraseña</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
      <div *ngIf="signupForm.hasError('passwordMismatch') && signupForm.controls['confirmPassword'].touched">
        <small>Las contraseñas no coinciden</small>
      </div>
  
      <button [disabled]="signupForm.invalid" (click)="Registrarse()">Registrarse</button>
      <button mat-flat-button class="bg-success" (click)="Volver()">Volver</button>
      
    </form>
  
    <p *ngIf="message">{{ message }}</p>
  </div>
