<div class="container">
  <form [formGroup]="form_Perneria">

      <div class="row">
        <div class="col-3" >
          <h4 class="" style="text-align: start; padding-left: 50px; padding-top: 15px; color:darkgreen">Pernería {{this.titulo}} </h4>
        </div>
        <div class="col-3" ></div>
        <div class="col-3" ></div>
        <div class="col-3" >
          <div appearance="fill" class="full-width has-success" style="padding: 10px; align-content:start;" >
            <mat-label style="padding-right: 20px;" >Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search Columns" #input>
          </div>
        </div>
      </div>

      <div class="row">
       <div class="col-12">


            <div class="grid-container">
                <table mat-table [dataSource]="dataSource" matSort >

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="grid-item-h-idp"></th>
                        <td mat-cell class="grid-item-base" *matCellDef="let row" >
                            <span mat-button mat-icon-button style=color:#2da71dad
                                #tooltip="matTooltip"
                                matTooltip="Editar"
                                matTooltipPosition="right"
                                (click)="myClic(row)">
                                <mat-icon aria-label="visibility" class="mat-elevation-z4">text_snippet</mat-icon>
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ID_PERNO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-idp">Id </th>
                        <td mat-cell class="grid-item-base" *matCellDef="let row">{{row.ID_PERNO}}</td>
                    </ng-container>

                    <ng-container matColumnDef="OC">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header
">OC</th>
                        <td class="grid-item-fila" mat-cell *matCellDef="let row"> {{row.OC}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CONTRATO">
                        <th mat-header-cell *matHeaderCellDef class="grid-diseno-header
">Contrato</th>
                        <td class="grid-item-fila" mat-cell *matCellDef="let row"> {{row.CONTRATO}} </td>
                    </ng-container>

                    <ng-container matColumnDef="GUIA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header
">Guia</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row"> {{row.GUIA}} </td>
                    </ng-container>

                    <ng-container matColumnDef="SNF">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-descrip">SNF</th>
                        <td class="grid-item-fila" mat-cell *matCellDef="let row"> {{row.SNF}} </td>
                    </ng-container>

                    <ng-container matColumnDef="BULTO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">BULTO</th>
                        <td mat-cell class="grid-item-base_req" *matCellDef="let row">{{row.BULTO}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ITEMCODE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">ITEM</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.ITEMCODE}}</td>
                    </ng-container>

                    <ng-container matColumnDef="TIPO_ELEMENTO" >
                        <th mat-header-cell  *matHeaderCellDef mat-sort-header class="grid-diseno-header" >TIPO ELEMENTO</th>
                        <td mat-cell class="select-control" *matCellDef="let row">

                          <select class="form-select " formControlName="_TIPOELEM_DESCRIPCION" id="autoSizingSelect" style="font-size:14px; width: 140px;" (change)="ch_tpelem($event)">
                            <option selected>{{row.TIPOELEM_DESCRIPCION}}</option>
                            <option value="1">Pernos Roca</option>
                            <option value="2">Pernos de anclaje</option>
                          </select>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="MARCA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">MARCA</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.MARCA}}</td>
                    </ng-container>

                    <ng-container matColumnDef="MARCA2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-numero">Marca</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.MARCA2}}</td>
                    </ng-container>

                    <ng-container matColumnDef="TUNEL">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-h-select">TUNEL</th>
                        <td mat-cell class="select-control" *matCellDef="let row">

                          <select class="form-select " id="autoSizingSelect" style="font-size:14px; width: 140px;">
                            <option selected>{{row.TUNEL_DESCRIPCION}}</option>
                            <option value="1">Coirón</option>
                            <option value="2">La Guardia</option>
                            <option value="3">Las Animas</option>
                            <option value="4">NO LLEGO</option>
                            <option value="5">Confirmar</option>
                          </select>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DISPOSICION_FINAL">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-descrip">DISPO.FINAL</th>
                        <td mat-cell class="select-control" *matCellDef="let row">

                          <select class="form-select" id="autoSizingSelect" style="font-size:14px; width: 140px;">
                            <option selected>{{row.DISPO_DESCRIPCION}}</option>
                            <option value="1">Boveda  </option>
                            <option value="2">Contraboveda  </option>
                            <option value="3">Fundación  </option>
                            <option value="4">Hastial    </option>
                            <option value="5">No sale</option>
                            <option value="4">NO LLEGO    </option>
                            <option value="5">N/A</option>
                          </select>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="CANTIDAD_SNF" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">CANT. SNF</th>
                        <td mat-cell class="grid-item-base_req" *matCellDef="let row" [contentEditable]=true>{{row.CANTIDAD_SNF}}</td>
                    </ng-container>

                    <ng-container matColumnDef="CANTIDAD_TERRENO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">CANT. Terreno</th>
                        <td mat-cell class="grid-item-base_req" *matCellDef="let row"  [contentEditable]=true>
                          <input class="input_cant form-control"
                            placeholder=""
                            value={{row.CANTIDAD_TERRENO}}
                            formControlName="_CANT_TERRENO"
                            (change)="ch_cantidad($event, row)">
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="DIFERENCIA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">DIFERENCIA</th>
                        <td mat-cell class="grid-item-base_req" *matCellDef="let row">{{row.DIFERENCIA}}</td>
                    </ng-container>

                    <ng-container matColumnDef="PORCENT">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-item-h-percent">% CUMPLIMIENTO</th>

                            <td mat-cell  *matCellDef="let row" class="grid-item-percen" >
                              <mat-progress-bar mode="determinate" value={{row.PORCENTAJE}}
                                matBadge={{row.PORCENTAJE}}%
                                matBadgePosition="after"
                                matBadgeOverlap="true"
                                style="width: 105px; align-content: end; "
                                ></mat-progress-bar>
                            </td>
                      <!-- <td mat-progress-bar mode="determinate" value="40"> </td> -->
                    </ng-container>

                    <ng-container matColumnDef="PESO_UNITARIO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">PESO UNITARIO</th>
                        <td mat-cell class="grid-item-base_req" *matCellDef="let row">{{row.PESO_UNITARIO}}</td>
                    </ng-container>

                    <ng-container matColumnDef="PESO_TOTAL">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">PESO TOTAL</th>
                        <td mat-cell class="grid-item-base_req" *matCellDef="let row">{{row.PESO_TOTAL}}</td>
                    </ng-container>

                    <ng-container matColumnDef="PROVEEDOR">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">PROVEEDOR</th>
                        <td mat-cell class="select-control" *matCellDef="let row">

                          <select class="form-select" id="autoSizingSelect" style="font-size:14px; width: 140px;">
                            <option selected>{{row.PROVE_DESCRIPCION}}</option>
                            <option value="1">Reliper</option>
                          </select>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="PATIO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">PATIO</th>
                        <td mat-cell class="select-control" *matCellDef="let row">

                          <select class="form-select" id="autoSizingSelect" style="font-size:14px; width: 140px;">
                            <option selected>  {{row.PATIO_DESCRIPCION}} </option>
                            <option value="1">Remanso  </option>
                          </select>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="FECHA_LLEGADA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-h-datepicker" >FECHA LLEGADA</th>
                        <td class="grid-item-base_req " mat-cell *matCellDef="let row">
                            <input class="input-datepicker" matInput [matDatepicker]="picker" [value]="row.FECHA_LLEGADA"/>
                            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                            <mat-datepicker #picker style="color: chocolate;"></mat-datepicker>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="OBSERVACION">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">OBSERVACIÓN</th>
                        <td mat-cell class="grid-item-base_req" *matCellDef="let row">
                            <input class="input-observacion form-control" placeholder="" value={{row.OBSERVACION}}>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="NB_ASIG_TERR">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-diseno-header">ASIG.TERRENO</th>
                        <td mat-cell class="grid-item-fila" *matCellDef="let row">{{row.NB_ASIG_TERR}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; " class="table-row">
                </tr>
                </table>
              </div>

            <mat-paginator [pageSizeOptions]="[16, 40]" showFirstLastButtons aria-label="Select page of materiales" ></mat-paginator>
        </div>
      </div>

    </form>
</div>

