/* Oculta el scroll de toda la página */
body {
  overflow: hidden;
}

:host {
    min-height: 100vh;
  
    display: flex;
    flex-direction: row;
  }
  
  .content {
    flex-grow: 1;
  
    padding: 1rem;
  }