<form [formGroup]="form_Perneria" autocomplete="off" class="row gy-2 gx-3 align-items-center" style="padding-left: 50px;">
    <div class="row " style="padding-top: 15px;">
        <div class="col-auto">
            <label class="" for="autoSizingInput">Orden Compra</label>
            <input type="text" formControlName="_OC" class="form-control" id="autoSizingInput" placeholder="">
        </div>

        <div class="col-auto">
            <label class="" for="autoSizingInputGroup">Contrato</label>
            <input type="text" formControlName="_CONTRATO" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto">
            <label class="" for="autoSizingInputGroup">Guia</label>
            <input type="text" formControlName="_GUIA" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto">
            <label class="" for="autoSizingInputGroup">SNF</label>
            <input type="text" formControlName="_SNF" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto">
            <label class="" for="autoSizingInputGroup">Bulto</label>
            <input type="text" formControlName="_BULTO" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto">
            <label class="" for="autoSizingInputGroup">Item Code</label>
            <input type="text" formControlName="_ITEMCODE" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>
    </div>

    <div class="row " style="padding-top: 15px;">
        <div class="" style="width: 15rem;">
            <label class="" for="autoSizingSelect">Tipo Elemento</label>
            <select class="form-select" formControlName="_TIPO_ELEMENTO" id="autoSizingSelect">
              <option selected>Choose...</option>
              <option value="1">Pernos Roca</option>
              <option value="2">Pernos de anclaje</option>
            </select>
          </div>

        <div class="col-auto" style="width: 44rem;" >
            <label class="" for="autoSizingInputGroup">Marca</label>
            <input type="text" formControlName="_MARCA" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto" style="width: 28rem;" >
            <label class="" for="autoSizingInputGroup">Marca Opcional</label>
            <input type="text" formControlName="_MARCA2" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>
    </div>

    <div class="row " style="padding-top: 15px;" >
        <div class="" style="width: 15rem;">
            <label class="" for="autoSizingSelect">Tunel</label>
            <select class="form-select" formControlName="_TUNEL" id="autoSizingSelect">
              <option selected>Choose...</option>
              <option value="1">Coirón</option>
              <option value="2">La Guardia</option>
              <option value="3">Las Animas</option>
              <option value="4">NO LLEGO</option>
              <option value="5">Confirmar</option>
            </select>
          </div>
       

          <div class="" style="width: 15rem;">
            <label class="" for="autoSizingSelect">Disposición Final</label>
            <select class="form-select" formControlName="_DISPOSICION_FINAL" id="autoSizingSelect">
              <option selected>Choose...</option>
              <option value="1">Boveda  </option>
              <option value="2">Contraboveda  </option>
              <option value="3">Fundación  </option>
              <option value="4">Hastial    </option>
              <option value="5">No saleoption</option>
              <option value="4">NO LLEGO    </option>
              <option value="5">N/Aoption</option>
            </select>
          </div>

          <div class="col-auto"  >
            <label class="" for="autoSizingInputGroup">Cantidad SNF</label>
            <input type="text" formControlName="_CANTIDAD_SNF" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto" >
            <label class="" for="autoSizingInputGroup">Cantidad Terreno</label>
            <input type="text" formControlName="_CANTIDAD_TERRENO" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto" >
            <label class="" for="autoSizingInputGroup">Diferencia</label>
            <input type="text" formControlName="_DIFERENCIA" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto" style="width: 14rem">
            <label class="" for="autoSizingInputGroup">Diferencia</label>
            <input type="text" formControlName="_DIFERENCIA" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>
    </div>
    <div class="row " style="padding-top: 15px;">
        <div class="col-auto" >
            <label class="" for="autoSizingInputGroup">Peso Unitario</label>
            <input type="text" formControlName="_PESO_UNITARIO" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto" >
            <label class="" for="autoSizingInputGroup">Peso Total</label>
            <input type="text" formControlName="_PESO_TOTAL" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="" style="width: 15rem;">
            <label class="" for="autoSizingSelect">Patio</label>
            <select class="form-select" formControlName="_PATIO" id="autoSizingSelect">
              <option selected>Choose...</option>
              <option value="1">Remanso  </option>
            </select>
          </div>

          <div class="col-auto" >
            <label class="" for="autoSizingInputGroup">Fecha llegada</label>
            <input type="text" formControlName="_FECHA_LLEGADA" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

        <div class="col-auto" >
            <label class="" for="autoSizingInputGroup">N° Bulto Asig. Terreno</label>
            <input type="text" formControlName="_NB_ASIG_TERR" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>

    </div>
    <div class="row" style="padding-top: 15px; width: 89rem;">
        <div class="col-12" >
            <label class="" for="autoSizingInputGroup">Observación</label>
            <input type="text" formControlName="_OBSERVACION" class="form-control" id="autoSizingInputGroup" placeholder="">
        </div>
    </div>
</form>
